{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="alert mx-auto text-center alert-info h4">Donate</div>
<div class="container">
  <div class="row">
    <div class="col-12">
      <table class="table table-bordered border-info">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Email</th>
            <th scope="col">Image</th>
            <th scope="col">Video</th>
            <th scope="col">Description</th>
            <th scope="col">Approval</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            {% for i in taker %}
            {% if volunteer %}
            {% if i.user.register.pin_code == pin_code %}
            <th scope="row">{{ forloop.counter }}</th>
            <td>{{ i.user.first_name}}</td>
            <td>{{ i.user.last_name}}</td>
            <td>{{ i.user.email}}</td>
            <td>{{ i.image}}</td>
            <td>{{ i.video}}</td>
            <td>{{ i.description}}</td>
            <td>{% if i.volunteer_status %}
              <a href="{% url 'core:volunteer_unapprove' i.pk %}">{{ i.volunteer_status}}</a>
              {% else %}<a href="{% url 'core:volunteer_approve' i.pk %}">{{ i.volunteer_status}}</a>{% endif %}
            </td>
          </tr>
          {% endif %}
          {% endif %}
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock content %}
